{% extends "email/layout.html" %}

{% block content %}
<table>
    <tr>
        <td class="content-block">
            Hello,
        </td>
    </tr>

    <tr>
        <td class="content-block">
            We just wanted to let you know that your recent merchandise order has now been printed.
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <strong>Order Ref:</strong> {{ order.supplier_order_ref }}<br />
            <strong>Description: </strong> {{ order.description }}<br />
            <br />
        </td>
    </tr>
    <tr>
        <td class="content-block">
            Once your item has been quality checked it will be packaged for dispatch. This usually happens within 24 hours.
        </td>
    </tr>
    <tr>
        <td class="content-block">
            Thank you for your business. Should you need any help, please do let us know.
        </td>
    </tr>
    <tr>
        <td class="content-block">
            &mdash; {{ accountData.name }}
        </td>
    </tr>
</table>
{% endblock %}

